body {
  background-color: rgb(214, 75, 214);
}
h1 {
  color: rgba(0, 0, 0,);
  font-size: 50px;
  font-family: cursive;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  text-shadow: 8px 8px 5px blue, 10px 10px 5px green;
  background-color: rgb(255, 145, 0);
}
p {
  color: blue;
}
.we {
  font-family: cursive;
  text-indent: 35px;
  text-shadow: 3px 3px 6px red;
  background-color: pink;
  width: 800px;
  text-align: center;
  border: 3px solid rgb(239, 243, 6);
  border-radius: 100px;
  padding: 40px;
  margin: 35px;
}
div {
  color: rgb(81, 236, 210);
  background-color: hotpink;
  font-family: monospace;
  font-size: 20px;
  text-indent: 55px;
  width: 20%;
  text-align: center;
  text-decoration: underline;
  border: 5px dashed green;
  border-radius: 500px;
  padding: 45px;
  height: 200px;
  margin: 50px;
  text-shadow: 6px 6px 10px blue;
}
.nr {
  color: green;
  border: 5px dotted red;
  border-radius: 70px;
  text-align: justify;
  padding: 45px;
  width: 60%;
  height: 110px;
  background-color: rgba(228, 39, 39, 0.699);
  text-shadow: 5px 4px 8px yellow;
  font-family: cursive;
  font-size: 15px;
  margin: 35px;
  text-indent: 35px;
  text-decoration: underline;
}
#den {
  color: green;
  background-color: rgb(9, 236, 198);
  width: 90%;
  border: 5px dotted green;
  border-radius: 50px;
  padding: 25px;
  margin: 40px;
  text-indent: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 5px 5px 6px rgb(255, 0, 200);
}
aside {
  color: rgb(0, 0, 0);
  background-color: chocolate;
  border: 6px dotted blue;
  border-radius: 60px;
  width: 80%;
  padding: 10px;
  text-indent: 50px;
  font-family: cursive;
  text-decoration: line-through;
  text-transform: capitalize;
  margin: 35px ;
}
article {
  color: green;
  background-color: greenyellow;
  border: 5px solid blue;
  border-radius: 60px;
  padding: 10px;
  text-indent: 45px;
  width: 40%;
  text-decoration: underline;
  font-family: cursive;
  font-size: 10px;
  text-align: justify;
  text-shadow: 6px 5px 10px blue;
} 
p {
  color: rgb(63, 224, 230);
  background-color: rgb(92, 2, 128);
  border: 3px dotted red;
  border-radius: 80px;
  padding: 25px;
  text-indent: 30px;
  text-shadow: 5px 5px 10px rgb(252, 2, 2);
  font-family: cursive;
}
h2 {
  color: black;
  background-color: chartreuse;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  text-shadow: 5px 5px 10px blue;
}
#mix {
  border: 3px solid red;
  width: 90%;
  border-radius: 80px;
  background-color: saddlebrown;

}
table {
  color: blue;
  background-color: coral;
}
